@charset "utf-8";
@import url(notosanskr.css);
@import url(map.css?ver=20180205.2);
@import url(jquery-ui.css);
@import url(jquery.bxslider.css);


/*다음지도공지삭제*/
#map > div > div > div > div { background:none !important; box-shadow:rgba(0, 0, 0, 0) 0px 0px !important;}
#map > div > div > div > div h4,
#map > div > div > div > div p { display:none;} 

/*다음지도공지삭제-매물상세*/
.roadview_left > #mapAreaRoadviewRadar > div > div > div > div,
.map_area > div > div > div > div,
.map > div > div > div > div { background:none !important; box-shadow:rgba(0, 0, 0, 0) 0px 0px !important;}

.roadview_left > #mapAreaRoadviewRadar > div > div > div > div h4,
.roadview_left > #mapAreaRoadviewRadar > div > div > div > div p,
.map_area > div > div > div > div h4,
.map_area > div > div > div > div p, 
.map > div > div > div > div h4,
.map > div > div > div > div p { display:none;} 

.map > div > div > div > div div {opacity:0 !important;}